<div id="home">
  <div id="header-style">
    <div class="page-header">
     <h2>Abouts Page</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p id="paragraph">
            Hello, my name is William Tang and welcome to my website! Here you can find stuff (blogs, articles, etc) that I feel are interesting such as hobbies or tech mumble jumble. To give you a brief intro about myself, I am a programmer, a food lover, and a traveler. I originally started this site around June of 2014 and the goal was to build a website just because I thought it would be a fun thing to do. In addition I wanted to share stuff to the public whether it be projects I am working or the latest news (usually tech related). 
          </p>
          <p>
            To give you a tour, on my  <a href="#">home</a> page is where you will see my “blog” or “newsfeed”. I usually post tech related articles, but as of 2015 I am going to start posting other topics as well. On the <a href="#/projects">projects</a> page is where my projects or side mini hacks that I do. And finally the <a href="#/contact">contact</a> page is how you can contact me of course. Nonetheless I hope you enjoy your time here and please feel free to share to others. ~wtang
          </p>
        </div>
        <div class="col-md-6">
          <img id="aboutimage" src="http://i.imgur.com/IKa8gpi.jpg" title="lajolla" /> 
          <p id="caption">La Jolla Beach, San Diego</p>
        </div>
          <!--
          This image is being linked here; though the picture is subject to copyright 
          I feel it is covered by the U.S. fair use laws because:

          It is a promotional image released by Fox
          it does not limit the copyright owners rights to sell the film in any way
          the image is provided at several official sources
          it allows for identification of the character: Simpsons; -->
        <!--<img src=" http://s2.wallls.com/images/6/1280x1024/wallls.com-31600.jpg" alt="Simpsons" width="230px" height="180px"/>-->
      </div>
    </div>
  </div>
</div>
