<div id="home">
  <div id="header-style">
    <div class="page-header">
     <h2>Contacts Page</h2>
    </div>
    <div class="row">
      <div class="col-sm-8 blog-main">  
        <h3>Georgia State University</h3>
        <p>Main: <a href="http://gsu.edu" target="_blank">www.gsu.edu</a></p>
        <p>Computer Science: <a href="http://cs.gsu.edu" target="_blank">www.cs.gsu.edu</a></p> 
        <h3>Email</h3>
        <p>Interwebzmail me there: <a href="//plus.google.com/u/0/117902654629859382535?prsrc=3" target="_blank"><img class="google-image"src="/images/trans.png"></a></p>   
      </div>
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>Quick Links</h4>
          <!-- 
          Images license from http://creativecommons.org/licenses/by/3.0/ 
          http://thepinkgroup.co.uk/free-social-media-icons/--> 
          <!-- Linkedin link -->
          <a href="https://www.linkedin.com/pub/william-tang/48/aa8/115" target="_blank"><img src="/images/trans.png" class="linkedin-image"></a>
          <!-- Twitter link -->
          <a href="https://twitter.com/_william_tang" target="_blank"><img src="/images/trans.png" class="twitter-image"></a>
          <!-- Google plus link -->
          <a href="//plus.google.com/u/0/117902654629859382535?prsrc=3" target="_blank"><img src="/images/trans.png" class="google-image"></a>
          <!-- Github link -->
          <a href="https://github.com/wtang3" target="_blank"><img class="github-image" src="/images/trans.png"></a>
        </div>
      </div>
    </div> 
  </div>
</div>

